* {
  margin: 0;
  padding: 0;
}
body {
  background: rgba(248, 250, 252, 1);
  font-family: "Geist", sans-serif;
}
.section {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 1rem;
}

.h1 {
  color: rgba(0, 44, 92, 1);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3.75rem;
}
.h2 {
  color: rgba(0, 44, 92, 1);
  font-size: 1.25rem;
  font-weight: 600;
}
.counts-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(194, 192, 192);
}
.counts-card div{
  background: white;
  border: 1px solid rgb(194, 192, 192);
  border-radius: 1rem;
  padding: 20px;
  box-sizing: border-box;
}
.counts-card p:nth-child(2){
  font-size: 2rem;
  font-weight: 600;
}
.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;  
  padding: 8px 12px;
  border: 1px solid rgba(241, 242, 244, 1);
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(100, 116, 139, 1);
  cursor: pointer;
}
.filter-btn.active, .filter-btn:hover{
    background: rgba(59, 130, 246, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(59, 130, 246, 1);
    color: white;
}
.frame {
  box-sizing: border-box;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background: white;
  border: 1px solid rgba(238, 244, 255, 1);
  border-radius: 10px;
}
.title {
  color: rgba(100, 116, 139, 1);
  font-size: 1remm;
  font-weight: 400;
}
.job-time {
  padding: 20px 0px;
  color: rgba(100, 116, 139, 1);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}
.job-discription {
  color: rgba(100, 116, 139, 1);
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.status-btn{
  padding:8px 0;
}
.interview,
.rejected {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: SemiBold;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 12px;
  cursor: pointer;
}
.interview {
  color: rgba(16, 185, 129, 1);
  border: 1px solid rgba(16, 185, 129, 1);
}
.interview:hover {
  background: rgba(16, 185, 129, 1);
  color: rgba(255, 255, 255, 1);
}
.rejected {
  color: rgba(239, 68, 68, 1);
  border: 1px solid rgba(239, 68, 68, 1);
}
.rejected:hover {
  background: rgba(239, 68, 68, 1);
  color: rgba(255, 255, 255, 1);
}
.delete-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb(182, 178, 178);
  border-radius: 100%;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  transition: all 0.2s ease;
}
.delete-btn:hover{
  color: red;
  border: 1px solid red;
  border-radius: 100%;

}